.custom-scrollbar::-webkit-scrollbar {
  width: 16px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(218, 220, 224);
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  min-height: 50px;
}
.custom-scrollbar::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track:hover {
  background: none;
  border: none;
}
